{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="popup">hejka</div>
    <div class="container">
        <div class="game-container">
        </div>
        <div class="key-container">
        </div>
    </div>

{% endblock %}
