* {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #121213;
    font-size: 2rem;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 7vh;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.key-container button {
    width: 43px;
    height: 58px;
    border-radius: 4px;
    border: none;
    background-color: #818384;
    margin: 4px;
}

.key-container button:nth-child(11) {
    margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width: 68px;
}

.key-container button:nth-child(28) {
    font-size: 1.3rem;
}

.grey {
    background-color: #3a3a3c !important;
}

.green {
    background-color: #538d4e !important;
}

.yellow {
    background-color: #b59f3b !important;
}

.game-container div {
    display: flex;
}

.game-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
    animation-duration: 1.3s;
}

.shake {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: shake;
    animation-name: shake;
    animation-duration: 1s;
}

.popup {
    position: absolute;

    top: 25%;
    left: 45%;
    text-align: center;
    border-radius: 10px;
    background: black;
    box-shadow: 0px 0px 10px 0px black;
}

@keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotateY(-20deg);
        transform: perspective(400px) rotateY(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotateY(-5deg);
        /* transform: perspective(400px) rotateY(-5deg); */
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }